@import '~carbon-components/scss/globals/scss/styles.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li{
  display: inline;
  padding: 10px;
}

li:hover{
  background-color: beige;
}

table {
  width: 100%;
  border: 1px solid black;  
}

td {
  width: 10%;
  border: 1px solid blue;
  padding: 5px;
}